/* 页脚 */
.page-foot {
  margin-top: 40px;
  background: $divDefaulteBg;
  border-bottom: 1px #eee solid;
  .foot-items {
    padding: 25px 0;
    .foot-item {
      float: left;
      width: 300px;
      height: 60px;
      .icon {
        float: left;
        width: 60px;
        height: 60px;
        line-height: 60px;
        border-radius: 30px;
        background: #31B3EC;
        margin-right: 18px;
        text-align: center;
        font-size: 32px;
        color: #fff;
      }
       dd {float: left;}
       .f-i-title {
          font-size: 20px;
          color: #222;
          line-height: 38px;
          margin: 0;
        }
    }
  }
}
.font-info {
  background: $divDefaulteBg;
  border-bottom: 1px #eee solid;
  .foot-href {
    float: left;
    width: 238px;
    height: 177px;
    h4 {
      font-size: 16px;
      padding: 9px 0;
      margin-top: 10px;
    }
    a {
      display: block;
      line-height: 1.7;
    }
  }
  .f-last {
    width: 185px;
  }
  .foot-help {
    float: left;
    height: 80px;
    padding: 27px 0;
    border-left: 1px #eee solid;
    margin: 21px 0;
    dt{
      width: 43px;
      height: 43px;
      float: left;
      margin-top: 20px;
      margin-right: 43px;
      margin-left: 50px;
    }
    dd {float: left;}
    .f-number {
      font-size: 24px;
      font-weight: 700;
      color: #31B3EC;
    }
  }
}
.font-company {
  height: 58px;
  background: $divDefaulteBg;
  .f-company {
    padding-top: 15px;
  }
  & .f-c-fl a::after, & .f-c-fr a::before {content: '|'; margin-left: 14px; margin-right: 14px;}
  & .f-c-fl a:nth-child(5)::after {display: none}
  & .f-c-fr a:nth-child(1)::before {display: none}
}