@import '../variables.scss';
.el-tabs--border-card {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  .el-tabs__header {
    height: 39px;
    line-height: 42px;
    background: $divBg;
    .el-tabs__item {
      border: 0;
      margin: 0;
      border-top: 2px $divBg solid;
      &.is-active {
        border-top: 2px $colorBlue solid;
      }
    }
  }
  .el-tabs__content {
    padding: 0;
    padding-top: 20px;
  }
}
.el-popover {
  padding: 0;
  border: 0;
  width: auto;
}
.breadcrumb {
  margin-bottom: 10px;
  .el-breadcrumb {
    margin: 0;
  }
  .mcht-info {
    .name {
      float: left;
      line-height: 44px;
      i {
        color: $colorBlue;
        margin-right: 7px;
        margin-left: 20px;
      }
    }
  }
}
.mcht-store-info {
  font-size: 12px;
  width: 200px;
  height: 117px;
  .info {
    height: 86px;
    p {
      padding: 7px 15px 0;
      label {color: #999;}
    }
  }
  &-btn {
    border-top: 1px $borderColorQian solid;
    a {
      width: 100px;
      float: left;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-left: 1px $borderColorQian solid;
      margin-left: -1px;
      i {
        color: $colorBlue;
        font-size: 12px;
        margin-right: 4px;
      }  
    }
  }
}
.magnifier {
  float: left;
  width: 450px;
  height: 600px;
  .magnifier-show {
    position: relative;
    width: 450px;
    height: 450px;
    z-index: 10;
    .show-img {
      border: 1px $borderColor solid;
    }
    .big-mouse {
      position: absolute;
      width: 225px;
      height: 225px;
      background: #fff;
      opacity: 0.5;
      border: 1px $borderColor solid;
    }
    .big-view {
      position: absolute;
      width: 450px;
      height: 450px;
      top: 0;
      left: 462px;
      overflow: hidden;
      border: 1px $borderColor solid;
    }
  }
  .magnifier-swiper {
    margin: 10px auto 19px;
    width: 394px;
    .left, .right {
      width: 15px;
      height: 60px;
      float: left;
      text-align: center;
      line-height: 60px;
      border: 1px $borderColor solid;
    }
    .container {
      float: left;
      height: 62px;
      width: 360px;
      overflow: hidden;
      margin-top: 1px;
    }
    .items {
      width: 1000px;
      .item {
        float: left;
        width: 60px;
        height: 60px;
        margin: 0 5px;
        border: 1px #fff solid;
        &.active {
          border: 1px $borderBlueColor solid;
        }
      }
    }
  }
  .operation {
    p {
      float: left;
      color: #999;
      margin-right: 18px;
      i {
        font-size: 12px;
        color: #31B3EC;
        margin-right: 8px;
      }
    }
  }
}
.firstInfo {
  float: left;
  margin-left: 20px;
  width: 730px;
  .title {
    color: $colorWeightBlack;
    font-size: 16px;
    line-height: 34px;
    margin-bottom: 12px;
    span {
      display: inline-block;
      font-size: 12px;
      background: #FE5932;
      color: #fff;
      height: 16px;
      line-height: 16px;
      padding: 0 3px;
      margin-right: 5px;
    }
  }
  .active-info {
    background: #f9f9f9;
    padding: 15px 19px;
    width: 692px;
    dl {
      &.sale-price {
        padding-top: 8px;
        padding-bottom: 8px;
        dt {line-height: 33px;}
      }
    }
    dt {
      width: 82px;
      float: left;
      color: $colorGrey;
    }
    dd {
      float: left;
      &.del {
        text-decoration: line-through;
        color: $colorBlack;
      }
      &.price {
        color: $colorRose;
        font-size: 24px;
      }
      .gifts {
        margin-bottom: 9px;
        color: $colorBlack;
        .gift-icon {
          display: inline-block;
          width: 38px;
          height: 17px;
          line-height: 19px;
          text-align: center;
          color: #D3589B;
          margin-right: 10px;
          border: 1px #D3589B solid;
        }
      }
    }
  }
  .buy-info {
    dl {
      padding-top: 12px;
      line-height: 34px;
      min-height: 34px;
    }
    dt {
      width: 55px;
      padding-left: 11px;
      float: left;
      text-align: right;
      padding-right: 37px;
    }
    dd {
      float: left;
      width: 625px;
      &.buy-number {
        width: 627px;
        .el-input-number {
          float: left;
        }
        p {
          float: left;
          line-height: 30px;
          padding-left: 17px;
          .number {
            color: $colorRose;
          }
        }
      }
    }
    .skus {
      .sku {
        display: inline-block;
        padding: 0 13px;
        line-height: 32px;
        height: 32px;
        min-width: 155px;
        border: 1px $borderColor solid;
        margin-right: 10px;
        margin-bottom: 10px;
        text-align: center;
        &.active {
          height: 30px;
          line-height: 30px;
          border: 2px $borderBlueColor solid;
          min-width: 153px;
        }
        &.disabled {
          height: 32px;
          color: #CECECE;
          border: 1px #DCDCDC dashed;
        }
      }
    }
  }
  .buy-btn {
    margin-top: 20px;
  }
}
.infos {
  .title {
    padding: 11px 10px;
    background: $divBg;
    border: 1px $borderColor solid;
    font-size: 14px;
    &::after {
      content: '';
      width: 2px;
      height: 18px;
      background: $colorBlue;
      float: left;
      margin-right: 5px;
    }
  }
  .content {
    padding: 15px 20px;
    border: 1px $borderColor solid;
    border-top: 0;
    h5 {
      color: $colorBlue;
      margin-bottom: 5px;
    }
    p {
      color: $colorWeightBlack;
    }
  }
  .div-table {
    display: table;
    width: 1198px;
    border: 1px $borderColor solid;
    border-top: 0;
    border-bottom: 0;
    p {
      display: table-row;
      color: $colorWeightBlack;
    }
    label, span {
      display: table-cell;
      padding: 9px 20px;
      border-bottom: 1px $borderColor solid;
    }
    label {
      width: 255px;
      border-right: 1px $borderColor solid;
      color: $colorGrey;
    }
  }
}
