//自己定义单部分样式
.content {
  // 头部样式

  .header {
    line-height: 44px;
    display: flex;
    justify-content: center; 
    margin: 0px;
    .header-shrink{
      display: flex;
      width: 1210px;
      justify-content: space-between;
    }
    ul {
      // 头部路径
      &.header-rou {
        li+li {
          &::before {
            content: '>';
            display: inline;
            padding: 6px;
          }
        }
      } // 头部公司
      &.header-comp {
        align-self: flex-end;
        li {
          padding-left: 20px;
        }
      }
    }
  } 
  
  // 限制中间宽度
  .shrink-content {
    width: 1210px;
    padding: 10px 0 0 0;

    // 中上部手机图片以及分享等操作以及手机购买信息
    .item-p-i {
      display: flex; 
      
      //左上部手机图片以及分享等操作
      .pic-doinf {
        width: 450px;
        display: flex;
        flex-direction: column; 
        flex: none;
        
        //手机大图
        .big-pic {
          flex: none;
          width: 100%;
          height: 450px;
          border: 1px solid rgba(238, 238, 238, 1);
          img {
            width: 100%;
            height: 100%;
          }
        } 
        
        //手机小图
        .small-pic {
          display: flex;
          justify-content: center;
          div {
            height: 60px;
            width: 60px;
            margin: 10px;
            img {
              width: 100%;
              height: 100%;
            }
          }
        } 
        
        //分享
        .ilike {
          margin: 7px 0 52px 0;
          span {
            color: #999;
            font-size: 12px;
            margin: 0 16px 0 0;
          }
        }
      } 
      
      // 手机信息
      .phone-info {
        width: 790px;
        padding: 0 0 0 20px; 
        
        // 标题
        .info-tit {
          display: flex;
          align-items: center;
          padding: 10px 0 20px 0;
          span {
            box-sizing: border-box;
            height: 16px;
            color: #fff;
            width: 30px;
            background: #FE5932 100%;
            border-radius: 2px;
            margin: 0 5px 0 0;
          }
          h2 {
            line-height: 20px;
            font: 16px 'NotoSansSC-Medium';
            color: rgba(34, 34, 34, 1);
            font-weight: 600;
          }
        } 
        
        // 手机热卖信息
        .info-sale {
          color: #999;
          display: flex;
          padding: 15px 0 5px 20px;
          flex-direction: column;
          &>div {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            &>span {
              min-width: 37px;
              padding: 0 39px 0 0px;
              width: 20px;
            }
            .tr-pri {
              font-style: normal;
              line-height: 33px;
              color: rgba(209, 22, 112, 1);
              font-size: 24px;
              font-weight: 600;
              font-family: 'PingFangSC-Regular';
            }
            &.onsale {
              align-items: flex-start;
              div div {
                span {
                  color: rgba(211, 88, 155, 1);
                  line-height: 16px;
                  display: inline-flex;
                  padding: 0 8px;
                  border-radius: 1px;
                  border: 1px solid rgba(211, 88, 155, 1);
                }
              }
              div+div {
                padding: 10px 0 0 0;
              }
            }
          }
        } 
        
        // 商品规格信息
        .item-info {
          &>div {

            //特意设置商品数量样式
            &.item-num {
              padding: 10px 100px 0 20px;
            }
            padding: 20px 100px 0 20px;
            display: flex;
            &>span {
              min-width: 48px;
              line-height: 16px;
              color: rgba(153, 153, 153, 1);
              text-align: right;
              margin: 0 20px 0 0;
            }
            &>i {
              font-style: normal;
            }
            &>div {
              flex-wrap: wrap;
              display: flex;
              a {
                padding: 0px 15px;
                margin: 0 10px 10px 0;
                line-height: 34px;
                border: 1px solid rgba(220, 220, 220, 1);
                font-size: 12px;
                text-align: center;
              }
            } //按钮效果
            .add-sub-bt {
              display: flex;
              margin-bottom: 11px;
              button {
                width: 24px;
                height: 24px;
                line-height: 24px;
                font-size: 14px;
                background: #fff;
                border: 1px solid #4C6666;
                outline: none;
                &.sub {
                  border-left: none;
                }
                ;
                &.add {
                  border-right: none;
                }
                ;
              }
              span {
                color: #222222;
                width: 40px;
                height: 24px;
                border: 1px solid #4C6666;
                box-sizing: border-box;
                text-align: center;
              }
            }
          }
        } 
        
        //购买商品样式
        .buy-phone {
          display: flex;
          padding: 30px 0 0 44px;
          button {
            display: flex;
            color: #fff;
            height: 42px;
            width: 140px;
            margin-right: 20px;
            border: none;
            outline: none;
            /* &:nth-child(1) {
              background: #D11670 100%;
            }
            &:nth-child(2) {
              background: linear-gradient(to right, #31B3EC, #0094D5);
              span {
                display: inline-flex;
                width: 16px;
                height: 24px;
                margin: 0 5px 0 0;
                background: url(../../pages/iteminfo/img/shopping-cart.png) no-repeat center;
                background-size: contain;
              }
            } */
          }
        }
      }
    }

    // 分栏情况页
    .detail-inf-li{
      ul{
        li{
          display: flex;
          a{
            font-size: 14px;
            line-height: 42px;
            padding: 0 32px;
            border-top: 2px solid transparent;
            &.active{
              background: #fff;
              border-top: 2px solid #31B3EC;
            }
          }
        }
      }
    }

    //服务信息
    .service{
      table{
        width: 100%;
        margin: 20px 0 0 0;
        tr{
          border: 1px solid #EEEEEE;
          font-size: 12px;
          
          th{
            text-align: left;
            line-height: 40px;
            font-weight: 600;
            font-size: 14px;
            &::before{
              color: #31B3EC;
              margin: 0 5px 0 13px;
              content: '|',
            }
          }
          td{
            
            padding: 14px 20px 14px 20px;
            h6{
              color: #31B3EC;
              font-weight: 400;
              margin: 0 0 5px 0;
            }
            p{
              color: #222;
            }

          }
        }
      }
    }
  }
}