.side-nav {
  width: 35px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background: #222;
  color: $colorGrey;
  .side-center {
    position: absolute;
    top: 137px;
    text-align: center;
    color: #444;
    li {
      min-height: 35px;
      line-height: 35px;
      width: 35px;
      text-align: center;
      position: relative;
      cursor: pointer;
    }
    .cart-list {
      position: fixed;
      right: 35px;
      top: 0;
      width: 300px;
      height: 100%;
      background: #fff;
      border: 1px #eee solid;
      h3 {
        text-align: left;
        font-weight: 400;
        padding: 0 10px;
      }
      a {font-size: 12px;}
    }
    li {
      i {
        font-size: 20px;
      }
      &::after {
        content: '';
        height: 1px;
        width: 25px;
        position: absolute;
        bottom: 0;
        left: 5px;
        background: #444;
      }
      .bottom {margin-top: 85px;}
      .shop-cart {
        display: block;
        width: 16px;
        text-align: center;
        margin: 0 auto;
        line-height: 1.2;
        padding-bottom: 12px;
        .cart-num {
          display: block;
          width: 20px;
          height: 20px;
          color: #fff;
          line-height: 20px;
          background: #D11670;
          border-radius: 10px;
          margin-top: 3px;
        }
        &:hover {color: #fff;}
      }
    }
    .shop-view {
      height: 530px;
      overflow: hidden;
      overflow-y: auto;
    }
    .shop-items {
      text-align: left;
      line-height: 1.5;
      .title {
        width: 100%;
        height: 30px;
        background: #f5f5f5;
        padding: 0 10px;
        .mchtCheck {
          float: left;
          margin-top: 9px;
          margin-right: 6px;
        }
      }
      dl {
        border-bottom: 1px #eee solid;
        dt, dd {float: left;}
        dt {
          padding: 10px;
          .item-check{
            margin-top: 22px;
            float: left;
          }
          img {
            width: 60px;
            height: 60px;
            margin: 0 8px;
            float: left;
          }
        }
        dd {
          width: 160px;
          padding: 10px 0;
        }
      }
      .price {margin-top: 3px;}
      .del {
        float: right;
        padding: 5px;
        color: #222;
        i {font-size: 14px;}
      }
    }
    .cart-list {display: none;}
    .tool-tip {
      display: none;
      position: absolute;
      top: 0;
      left: -78px;
      width: 78px;
      height: 35px;
      line-height: 35px;
      background: #0094D5;
      border-radius: 0 3px 3px 0;
      opacity: 1;
    }
    .active {
      background: #31B3EC;
      color: #fff;
      .cart-list {display: block;}
      &::after {background: #31B3EC;}
      .tool-tip {
        display: block;
        animation: changeside 500ms;
        &::after {
          content: '';
          width: 0;
          height: 0;
          font-size: 0;
          border-width: 7px;
          border-style: solid;
          border-color: transparent transparent transparent #0094D5;
          position: absolute;
          right: -13px;
          top: 10px;
        }
      }
      &:hover {color: #fff;}
      a {color: #fff;}
    }
    @keyframes changeside
    {
      0% {width: 0px; left: 0; opacity: 0;}
      70% {width: 78px; left: -78px; opacity: 1;}
      85% {width: 78px; left: -75px; opacity: 1;}  
      100% {width: 78px; left: -78px; opacity: 1;}
    }
    .money {
      p {line-height: 1.7;}
    }
    .amount {
      width: 80px; border: 1px #eee solid;
      span {display: block; width: 20px; height: 20px; font-size: 12px; line-height: 20px; text-align: center; float: left; margin-left: -1px;}
      input[type=text], input[type=number] {display: block; width: 30px; height: 20px; text-align: center; float: left; border: 1px #eee solid; border-top: 0; border-bottom: 0; padding: 0 5px;}
    }
    .un-count {
      border: 1px #fff solid;
      span {
        display: none;
      }
      input[type=text], input[type=number] {outline: none; border: 0;margin: 0 auto; float: none; background: #fff;}
    }
    .rose {color: $colorRose;}
  }
  .shop-operable {
    background: $divBg;    
    padding: 8px 10px;
    .settle-price {
      margin-top: 3px;
      line-height: 1.5;
      text-align: left;
      .rose {font-weight: 700;}
    }
    .go-settle {
      .btn-rose {
        padding: 6px 28px;
        margin: 0 5px;
        line-height: 30px;
      }
    }
  }
}
.side-center .un-show dt img, .shop-items .un-show .name, .shop-items .un-show .un-count {opacity: 0.5}
