html {
  background-color: $bodyWhite;
}

html,
body {
  font-family: "Microsoft YaHei";
  font-size: 62.5%;
}

html,
body,
div,
ul,
li,
h1, h2, h3, h4, h5, h6, p,
dd, dt, dl {
  margin: 0;
  padding: 0;
  color: $colorBlack;
}
h4, h5 {font-weight: 400;}
p {line-height: 1.5;}

ul,
li {
  list-style: none;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex {
  display: flex;
}

/* 采用iconfont字体，需要在这里声明匹配规则 */

[class^="icon-"],
[class*=" icon-"] {
  font-family: "iconfont" !important;
  font-size: 1.6rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}