 // 背景颜色集合
$bodyBg: #f2f2f2;
$bodyWhite: #fff;
$divDefaulteBg: #fff; // 块儿默认背景
$divBg: #f2f2f2; // 灰块儿背景
$defaultBlue: #31B3EC;
$defaultRose: #D11670;
$defaultGreen: #4AC76F;
$defaultYello: #FF9800;
 // 字体颜色集合
$colorBlue: #31B3EC;
$colorRose: #D11670;
$colorGreen: #4AC76F;
$colorYello: #FF9800;
$colorWeightBlack: #222222;
$colorBlack: #666;
$colorGrey: #999;

$borderColor: #DCDCDC; // 边框颜色
$borderColorQian: #eee;
$borderBlueColor: #31B3EC;
// 字体尺寸集合
$fontSize12: 12px;
$fontSize14: 14px;
$fontSize16: 16px;

// 高度结合
$height30: 30px;
$btnDefault: 30px; // 默认按钮的高度

// 边距集合
$defaultMargin11: 11px;
$margin21: 21px;
$margin26: 26px;

// 特殊效果
$hand: pointer;
